<section class="" style="padding-top: 5em; d-flex">
  <div class="container col-md-12 col-lg-12 d-flex justify-content-center">
    <table class="table" style="width: fit-content;" id="userTable">
      <thead>
        <tr>
          {{!-- <th scope="col">#</th> --}}
          <th scope="col">No</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email </th>
          <th scope="col">Status </th>
          {{!-- <th scope="col">Password</th> --}}
          <th scope="col">Options</th>

        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          
          <td></td>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.status}}</td>
          {{!-- <td>{{this.pw}}</td> --}}
          <td>
            <div class="d-flex">
              <a href="/admin/edit-user/{{this._id}}" class="btn btn-primary " style="width: 80px;">Edit</a>

              <a href="/admin/delete-user/{{this._id}}" id="delete" class="btn btn-danger ml-2"
                onclick="return confirm('Are you want to delete {{this.name}}?')" style="width: 80px;">Delete</a>


            </div>

            
          </td>

        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>