<section class="" style="padding-top: 5em;">
  <div class="container">
    <table class="table" style="width: fit-content;" id="userTable">
      <thead>
        <tr>
          {{!-- <th scope="col">#</th> --}}
          <th scope="col">No</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email </th>
          <th scope="col">Status </th>
          <th scope="col">Password</th>
          <th scope="col">Options</th>

        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          {{!-- <th scope="row">1</th> --}}
          <td></td>
          <td>{{this.name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.status}}</td>
          <td>{{this.pw}}</td>
          <td> 
            <div class="row">
              <a href="/admin/edit-user/{{this._id}}" class="btn btn-primary " style="width: 80px;">Edit</a>
              
              
              {{!-- <a href="/admin/block-user/{{this._id}}" class="btn btn-warning mt-1 " style="width: 80px;"
              onclick="return confirm('Are you want to block {{this.name}}?')">block</a>
              
              <a href="/admin/unblock-user/{{this._id}}" class="btn btn-warning mt-1 " style="width: 80px;"
              onclick="return confirm('Are you want to block {{this.name}}?')">Unblock</a> --}}
              
             

              <a href="/admin/delete-user/{{this._id}}" class="btn btn-danger mt-1"
                onclick="return confirm('Are you want to delete {{this.name}}?')" style="width: 80px;">Delete</a>
            </div>
          </td>

        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>