<header class="" style="position: fixed;z-index: 1;width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/admin">View User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/add-user">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/search-user">Search User</a>
        </li>


      </ul>
      <div class="dropdown pmd-dropdown">
        <button class="btn btn-sm pmd-ripple-effect btn-danger dropdown-toggle" type="button"
          id="dropdownMenuBottomRight" data-toggle="dropdown" aria-expanded="true">
          {{#if admin}}
          {{admin.name}}
          {{else}}
          Admin
          {{/if}}
          </button>

        {{!-- <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{#if admin}}
          {{admin.name}}
          {{else}}
          Admin
          {{/if}}
        </a> --}}

        <div class="dropdown-menu dropdown-menu-right">
          {{#if admin}}
          <a class="dropdown-item" href="/admin/logout">Logout</a>
          {{else}}
          <a class="dropdown-item" href="/admin/login">Login</a>
          {{/if}}



        </div>
      </div>

    </div>
  </nav>
</header>